.aut{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 26vh;
    background-color:rgb(190, 159, 113);
    gap:10px;
    cursor: pointer;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0px 0px 10px;
    
}
