.container-footer{
   background-color: rgb(190, 159, 113);
   text-align: center;
   padding: 10px;
   font-size: 14px;
   color: antiquewhite;

   bottom: 0;
   position: fixed;
   width: 100%;
}   
   
   