.container-footer{
   background-color: rgb(190, 159, 113);
   text-align: center;
   padding: 10px;
   font-size: 14px;
   color: antiquewhite;
   bottom: 0;
   position: fixed;
   width: 100%;
}   

   @media(min-width: 1080px){

      .container-footer{
         background-color: rgb(190, 159, 113);
         text-align: center;
         padding: 10px;
         font-size: 60px;
         color: antiquewhite;
         bottom: 0;
         height: 100px;
         position: fixed;
         width: 100%;
      }   

}

      @media(max-width: 1080px){

         .container-footer{
            background-color: rgb(190, 159, 113);
            text-align: center;
            padding: 10px;
            font-size: 60px;
            color: antiquewhite;
            bottom: 0;
            height: 100px;
            position: fixed;
            width: 100%;
         }   

      }
      @media(min-width: 80px){

         .container-footer{
            background-color: rgb(190, 159, 113);
            text-align: center;
            justify-content: center;
            padding: 10px;
            font-size: 40px;
            color: antiquewhite;
            bottom: 0;
            height: 60px;
            position: fixed;
            width: 100%;
         }   
   
   }
   