body{
    background-image:url("../../image/background.jpg");
    background-size: 100vh;
    margin: 0;    
}

button{
   
    display: flex;
    align-items: center;
    justify-content:center;
    
    gap: 10px;
    width: 175px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    color: black;
    background-color: rgb(190, 159, 113);
    border-radius: 5px;
    
    
  
}


