body{
    background-image:url("../../image/background.jpg");
    background-size: 100vh;
    margin: 0;    
    display: flex;
}

button{
   
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 22px;
    
    width: 360px;
    height: 45px;
    padding: 20px;
    margin: 15px 0px 0px 310px; 
    color: black;
    background-color: rgb(103, 108, 109);
    border-radius: 5px;
 }


 /* @media( min-width: 468px){
    button{

        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 25px;
        
        width: 368px;
        height: 45px;
        padding: 10px;
        margin: 15px 0px 0px 10px; 
        color: black;
        background-color: rgb(103, 108, 109);
        border-radius: 5px;
     }
    
} 


    @media( min-width: 568px){
        button{
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 25px;
        width: 368px;
        height: 45px;
        padding: 10px;
        margin: 15px 0px 0px 10px; 
        color: black;
        background-color: rgb(103, 108, 109);
        border-radius: 5px;


        }
    } 

     @media( min-width: 768px){
            button{
            display: flex;
            align-items: center;
            justify-content:center;
            font-size: 25px;
            width: 368px;
            height: 45px;
            padding: 10px;
            margin: 15px 0px 0px 100px; 
            color: black;
            background-color: rgb(103, 108, 109);
            border-radius: 5px;


        }
    }   
        @media( min-width: 1080px){
            button{
            display: flex;
            align-items: center;
            justify-content:center;
            font-size: 25px;
            width: 375px;
            height: 45px;
            padding: 15px;
            margin: 25px 0px 0px 110px; 
            color: black;
            background-color: rgb(103, 108, 109);
            border-radius: 5px;


        }
    }

    @media( max-width: 1080px){
        button{
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 25px;
        width: 375px;
        height: 45px;
        padding: 15px;
        margin: 5px 0px 10px 180px; 
        color: black;
        background-color: rgb(103, 108, 109);
        border-radius: 5px;


    }
}



    
     */