.container-nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(218, 182, 117);
    align-items: center;
    color: antiquewhite;
    height: 60px;

    
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40px;
    margin: -0px 10px -0px 10px;
    
}

.nav{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    
    
}

li{
    list-style: none;
    margin-left: 20px;
}