.container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    background-color: rgb(190, 159, 113);
    
}

.img-nav{
    display: flex;
    flex: 1;
    width: 40px;
    margin: -0px 10px -0px 10px;
    
}

.nav{
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: row;
   
       
}

li{
  
  margin-left: 30px;
  list-style: none;
  text-decoration: black;
  
  
  
 }
 a{
     text-decoration: none;
     color: rgb(10, 10, 9);
 }

