.container-nav{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;       
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
 
}  
    
.protect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26vh;
    background-color: rgb(219, 185, 121);
    cursor: pointer;    
}